@using Poll.Services.ViewModel;
@model IEnumerable<SurveyViewModel>;

@{
    ViewData["Title"] = "Liste des sondages";
}

<h1>@ViewData["Title"]</h1>

<div>
<button onclick="window.location.href = '/Survey/Create'">Créer un sondage</button>
</div>

<div class="container mt-5">
    <div class="row my-2 font-weight-bold text-center">
        <span class="col">Nom</span>
        <span class="col">Créateur</span>
        <span class="col">Statut</span>
        <span class="col">Date de création</span>
        <span class="col">Action</span>
    </div>
    @foreach(SurveyViewModel survey in Model)
    {
        <div class="card my-2">
            <div class="row py-2 text-center">
                <h2 class="col">@survey.PollName</h2>
                <span class="col">@survey.Username</span>
                @if(survey.IsActive)
                {
                    <span class="col">Ouvert</span>
                }
                else 
                {
                    <span class="col">Fermé</span>
                }
                <span class="col">@survey.CreationDate</span>
                <span class="col">
                    <div class="pointer py-1"> <a class="link" href="/Survey/Vote/@survey.Guid">Voter</a> </div>
                    <div class="pointer py-1"> <a class="link" href="/Survey/Close/@survey.Guid">Désactiver</a> </div>
                    <div class="pointer py-1"> <a class="link" href="/Survey/Result/@survey.Guid">Voire les résultats</a> </div>
                </span>
            </div>

            @if(!String.IsNullOrWhiteSpace(survey.Description))
            {
                <p class="px-5">
                    @survey.Description
                </p>
            }
        </div>
    }
</div>

