@using Poll.Services.ViewModel;
@model IEnumerable<SurveyViewModel>;

@{
    ViewData["Title"] = "Sondage";
}

<h1>@ViewData["Title"]</h1>

<div class="container d-flex justify-content-end">

<button class="btn btn-primary " onclick="window.location.href = '/Survey/Create'">Créer un sondage</button>
</div>

<div class="container mt-5">
    <div class="row my-2 font-weight-bold text-center">
        <span class="col">Nom</span>
        <span class="col">Créateur</span>
        <span class="col">Statut <br> Date désactivation</span>
        <span class="col">Date de création</span>
        <span class="col">Actions</span>
    </div>
    @foreach(SurveyViewModel survey in Model)
    {
        <div class="card my-2">
            <div class="row py-2 text-center">
                @if(survey.IsCurrentUser)
                {
                    <div class="user-indicator bg-blue"></div>
                }
                else 
                {
                    <div class="user-indicator"></div>
                }
                <span class="col pl-0 font-weight-bold">@survey.PollName</span>
                <span class="col">@survey.Username</span>
                <div class="col">
                    @if(survey.IsActive)
                    {
                        <span>Ouvert</span>
                    }
                    else 
                    {
                        <span>Fermé</span>
                    }
                    <br>
                    @if(String.IsNullOrEmpty(survey.DeactivateDate))
                    {
                        <span>Pas de date d'expiration</span>
                    }
                    else 
                    {
                        <span>@survey.DeactivateDate</span>
                    }
                </div>
                <span class="col">@survey.CreationDate</span>
                <div class="col">
                    @if (User.Identity.IsAuthenticated)
                    {
                        @if (survey.IsActive)
                        {
                            <div class="pointer py-1"> 
                                @if (survey.UserDidVote)
                                {
                                    <a class="link" href="/Survey/Vote/@survey.GuidVote">Modifier mon vote</a>
                                }
                                else
                                {
                                    <a class="link" href="/Survey/Vote/@survey.GuidVote">Voter</a>
                                }
                            </div>
                            if (survey.IsCurrentUser)
                            {
                                <div class="pointer py-1"> <a class="link" href="/Survey/Deactivate/@survey.GuidDeactivate">Désactiver le sondage</a> </div>
                            }
                            <div class="pointer py-1"> <a class="link" href="/Survey/Result/@survey.GuidResult">Voir les résultats</a> </div>
                        }
                        else
                        {
                            <div class="pointer py-1"> <a class="link" href="/Survey/Result/@survey.GuidResult">Voir les résultats</a> </div>
                        }
                        @if(survey.IsCurrentUser)
                        {
                            <div class="pointer py-1"> <a class="link" href="/Survey/Delete/@survey.GuidDeactivate">Supprimer le sondage</a> </div>
                        }
                    }
                    else
                    {
                        <div class="pointer py-1"> <a class="link" href="/Survey/Result/@survey.GuidResult">Voir les résultats</a> </div>
                    }
                </div>
            </div>
        </div>
    }
</div>

