@using Poll.Services.ViewModel;
@model SurveyListViewModel;

@{
    ViewData["Title"] = "Sondage";
}

<h1>@ViewData["Title"]</h1>

<div class="container d-flex justify-content-end">

<button class="btn btn-primary " onclick="window.location.href = '/Survey/Create'">Créer un sondage</button>
</div>

<div class="container mt-5">
    <div class="row my-2 font-weight-bold text-center">
        <span class="col">Nom</span>
        <span class="col">Créateur</span>
        <span class="col">Statut</span>
        <span class="col">Date de création</span>
        <span class="col">Actions</span>
    </div>
    @foreach(SurveyViewModel survey in Model.ListOfSurvey)
    {
        <div class="card my-2">
            <div class="row py-2 text-center">
                <h2 class="col">@survey.PollName</h2>
                <span class="col">@survey.Username</span>
                @if(survey.IsActive)
                {
                    <span class="col">Ouvert</span>
                }
                else 
                {
                    <span class="col">Fermé</span>
                }
                <span class="col">@survey.CreationDate</span>
                <div class="col">
                    @if(survey.IsActive)
                    {
                        <div class="pointer py-1"> 
                            @if(survey.UserDidVote)
                            {
                                <a class="link" href="/Survey/Vote/@survey.GuidVote">Modifier mon vote</a>
                            }
                            else 
                            {
                                <a class="link" href="/Survey/Vote/@survey.GuidVote">Voter</a>
                            }
                        </div>
                        if(survey.IsCurrentUser)
                        {
                            <div class="pointer py-1"> <a class="link" href="/Survey/Deactivate/@survey.GuidDeactivate">Désactiver le sondage</a> </div>
                        }
                        <div class="pointer py-1"> <a class="link" href="/Survey/Result/@survey.GuidResult">Voir les résultats</a> </div>
                    }
                    else 
                    {
                        <div class="pointer py-1"> <a class="link" href="/Survey/Result/@survey.GuidResult">Voir les résultats</a> </div>
                    }
                </div>
            </div>

            @if(!String.IsNullOrWhiteSpace(survey.Description))
            {
                <p class="px-5">
                    @survey.Description
                </p>
            }
        </div>
    }
</div>

