@using Poll.Services.ViewModel;
@model LinkViewModel;

@{
    ViewData["Title"] = "Liste des sondages";
}

<h1>@ViewData["Title"]</h1>

<div>
    <h4> Vous venez de créer le sondage <strong>@Model.Name</strong></h4>
    <p>Vous pouvez retrouver les liens importants du sondage ci dessous</p>
</div>

<div class="container mt-5">
    <p><strong>Lien de vote </strong> : <a id="vote"> </a></p>
    <p><strong>Lien de désactivation </strong> : <a id="deactivate"> </a></p>
    <p><strong>Lien de résultat </strong> : <a id="result"> </a></p>

</div>

<div class="row mt-5">
    <div class="col-md-4">
        <h4>Invitez vos amis ou collègues !</h4>
        <p>Rentrez leur adresse email, on s'occupe de tout.</p>
        <form asp-action="Invite" method="post">
            <span asp-validation-for="Emails" class="text-danger"></span>
            <div id="email-container">
                <div class="form-group" id="choice1">
                    <input type="email" asp-for="Emails[0]" class="form-control" />
                </div>
            </div>
            <div class="mb-4 pointer">
                <a class="link" onclick="addChoice()" > + Ajouter un champ</a>
            </div>
            <div class="form-group">
                <input type="submit" value="Envoyer" class="btn btn-primary" />
            </div>
            <input type="hidden" asp-for="@Model.GuidLink" />
        </form>
    </div>
</div>

@section Scripts {
    <script>
        const voteElement =  document.getElementById('vote')
        voteElement.href = "../Vote/" + "@Model.GuidVote";
        voteElement.textContent = voteElement.href;

        const deactivateElement =  document.getElementById('deactivate')
        deactivateElement.href = "../Deactivate/" + "@Model.GuidDeactivate";
        deactivateElement.textContent = deactivateElement.href;

        const resultElement =  document.getElementById('result')
        resultElement.href = "../Result/" + "@Model.GuidResult";
        resultElement.textContent = resultElement.href;
    </script>

    <script type="text/javascript" src="/js/Survey/Link.js"></script>
}